* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 300;
}

html,
body {
    height: 100%;
    width: 100%;

}

body {
    background-color: #dadada;
    display: flex;
    align-items: center;
    justify-content: center;



    main {
        height: 80vh;
        // width: 40vw;
        background-color: whitesmoke;
        border-radius: 10px;
        padding: 50px 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        // box-shadow: 20px 0 20px rgb(161, 161, 161),inset 0 20px 20px rgb(177, 177, 177);


        header {
            // background-color: red;

            h1 {
                font-size: 4rem;
                font-weight: 600;
                font-weight: 600;
                color: transparent;
                background: conic-gradient(from 90deg, yellow, black, yellow);
                background-clip: text;
                -webkit-background-clip: text;
            }
        }

        .taskstatus{
            padding: 10px;
            border-radius: 10px;
            background-color: rgb(239, 238, 238);
            align-items: center;
            gap: 20px;


            h3{
                font-size: 1rem;
            }
        }


        .input {
            // background-color: red;
            display: flex;
            align-items: center;
            gap: 10px;


            input {
                height: 30px;
                width: 300px;
                border-radius: 5px;
                border: 2px solid black;
                padding: 10px;
            }

            .addbtn {
                padding: 8px 20px;
                background-color: black;
                color: whitesmoke;
                border: none;
                border-radius: 10px;
                cursor: pointer;


            }

            .addbtn:active {
                scale: 0.95;
                

            }
            .addbtn:hover{
                background-color: yellow;
                color: black;
                border: 2px solid black;
            }
        }

        .tasklist{
            width: 100%;
            background-color: white;
            border-radius: 10px;
            padding: 20px 40px;
            flex-direction: column;
            gap: 10px;
            


            .taskname{
                display: flex;
                align-items: center;
                justify-content: space-between;


                li{
                    font-size: 1.2rem;
                    text-transform: capitalize;
                    
                }

                .optionbtn{
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    .taskcheck{
                        transform: scale(1.5);
                    }


                    .deletebtn{
                        font-size: 1.2rem;
                        border: none;
                        background-color: transparent;
                        cursor: pointer;
                    }
                    i{
                        pointer-events: none;
                    }
                    .deletebtn:active{
                        scale: 0.95;

                    }
                }
                
            }




        }

    }
}